/*Lato font from Google https://fonts.google.com/specimen/Lato?selection.family=Lato*/
* { 
    font-family: 'Lato', sans-serif; 
    font-size: large;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f4f3;
    text-align: center;
}
  
li {
    display: inline-block; 
}
  
li a {
    display: block;
    color: #0A0908;
    text-align: center;
    padding: 10px 155px;
    text-decoration: none;  
}

/*Changes the hyperlink to black on top bar*/
li a:hover{
color: #0A0908;
}

li a:hover:not(.active) {
    background-color: #ddd;
}
  
li a.active {
    background-color: #999e9c;
}
/*W3 Nav Bar*/

.logo{
    background-color: #22333B;
}

.footerSpace{
    margin: 100px;
    /*Fix for footer spacing covering up buttons https://stackoverflow.com/questions/13881548/sticky-footer-hiding-content#comment19120543_13881548*/
}

footer {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #0A0908;
    color: white;
    text-align: center;
    padding: 30px;
    right: 0;
    bottom: 0;
}

/*Changes the hyperlink to white */
footer a {
    padding: 10px;
    color: white;
}

/*Changes the hyperlink to white when hovered over instead of blue*/
footer a:hover {
    color: white;
}


.inputSubject {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}

.inputBody {
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 200px;
    border-radius: 10px;
}

.sendMailBtn {
    background-color: #22333B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.aboutMove {
    margin: 50px;    
}
.contactTopicMove {
    margin: 20px;
}

.topicList {
    /*Displays list vertically for topics*/
    display: grid;
    float: left;
}

/*Style for Buttons*/
.nextBackStyle {
    background-color: #C0AFA0;
    color: white;
    width: 100px;
    padding: 12, 30;
    border-radius: 5px;
    border: none;
}

/*A container is needed for the buttons as they need to be centered together https://stackoverflow.com/questions/39196643/how-to-center-two-buttons-next-to-each-other-but-center-of-the-screen*/
.btnContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

/*============ TIMELINE CSS refrenced from W3 https://www.w3schools.com/howto/howto_css_timeline.asp =============*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute; /*May make content shift behind each other*/
    width: 6px;
    background-color: #22333B;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .TimeContainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  
  /* Place the container to the left */
  .TimeLeft {
    left: 0;
  }
  
  /* Place the container to the right */
  .TimeRight {
    left: 50%;
  }
  
  /* The actual content */
  .TimeContent {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .TimeContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
  
    /* Make sure all lines move correclty */
    .timeLeft::after, .TimeRight::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .TimeRight {
    left: 0%;
    }
    /*============ TIMELINE CSS refrenced from W3 https://www.w3schools.com/howto/howto_css_timeline.asp =============*/


    /*============== RESPONSIVE W3 refrenced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav ==========*/

    .mobileHead {
        overflow: hidden;
        background-color: #333;
      }
      
      .mobileHead a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .mobileHead a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .mobileHead a.active {
        background-color: #999e9c;
        color: #0A0908;
      }
      
      .mobileHead .icon {
        display: none;
      }
      
      @media screen and (max-width: 600px) {
        .mobileHead a:not(:first-child) {display: none;}
        .mobileHead a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .mobileHead.responsive {position: relative;}
        .mobileHead.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .mobileHead.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
        .AboutFooter{
            /*Fixes about setion footer*/
            position: relative;
        }
        .centerTopics {
            width: 100px !important;
            align-content: center !important;
        }
    }
}  
/*============== RESPONSIVE W3 refrenced from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav ==========*/

  .neuronImage {
    width: inherit;
    height: inherit; 
  }
 
 
  .inheritResp { /*This allows the video content to change size*/
    width: inherit;
    /*height: inherit;  CREATES design error with height*/
}
